// COLORS 
$primary-color:      #fff;
$secondary-color:   #F5A25D;
$bg-color:          #FA7F72;

// BREAKPOINTS
$lg:                    1090px; 
$md:                    670px;
$sm:                    475px;